*{margin: 0;
padding: 0; 
box-sizing: border-box;
}

.navSetting{
    background-color: black;
    height: 10vh;
}


.navbar .nav-link {
    color:white;
}

.navbar .nav-link.active {
    font-weight:bold;
    color:blueviolet;}

.navbar-toggler{       
    background-color:blueviolet;
}
  
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.main__portada{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 80vh;
}

.main__portada--imagen{
    height: 80vh;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: white;
    background-color: blueviolet;
}

